h1 {
  margin-top: 2%;
  margin-bottom: 5%;
}

h3 {
  margin-top: 2.5%;
  color: beige;
}

form {
  /* margin-left: 30%;
  margin-right: 30%; */
  text-align: center;
  background-color: rgb(113, 68, 155);
  padding: 15px;
  width: 300px;
  margin: 0 auto;
}

.button {
 width: 60%;
 font-size: 1.3em;
 margin: 20px;
}

